<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AIaas Model</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/web/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../../static/web/css/style.css" rel="stylesheet">

 
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <!--<div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>-->
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" style="background-color:#FF0000">
            <div class="brand-logo">
                <a href="../../static/web/index.html">
                 <h2 style="color:#FFFFFF">Admin</h2>
                   <!-- <b class="logo-abbr"><img src="../../static/web/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="../../static/web/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="../../static/web/images/logo-text.png" alt="">
                    </span>-->
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        
                       
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="../../static/web/images/profile.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                       
                                        <li><a href="/logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
					<li>
                        <a href="/admin" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
					<li>
                        <a class="has-arrow" href="/view_data1" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Add Information</span>
                        </a>
                        <ul aria-expanded="false">
							<li><a href="/add_dept">Department</a></li>
                            <li><a href="/upload">Upload Data</a></li>
                            <li><a href="/view_data1">View Data</a></li>
                        
                          
                        </ul>
                    </li>
				
					<li>
                        <a class="" href="/add_data" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">Health Queries</span>
                        </a>
					</li>	
					
					<li>
                        <a class="" href="/view_user" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">Users</span>
                        </a>
					</li>	
					
					<li>
                        <a class="" href="/logout" aria-expanded="false">
                           <i class="icon-notebook menu-icon"></i><span class="nav-text">Logout</span>
                        </a>
					</li>	
						
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
								{% if msg=="success" %}
				  <span style="color:#009933">Added...</span>
				  <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
  // window.location.href= '/add_dept';
}, 4000);
</script>

				  {% endif %}
				
                                    <form class="form-valide" action="" name="form1" method="post">
                                        
										<div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Disease 
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" name="dept" required>
												<option value="">-Disease-</option>
												{% for ds in data1 %}
												<option>{{ds[1]}}</option>
												{% endfor %}
												</select>
                                            </div>
                                        </div>
										
										<div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Bot Question 
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="user_query" placeholder="" required>
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">User Answer 
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="response1" placeholder="" required>
                                            </div>
                                        </div>
                                        
									
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>
                                        </div>
                                    </form>
									
									<p>&nbsp;</p>
									<h4>Queries</h4>
									<table class="table">
										<tr>
										<td>#</td>
										<td>Bot Question</td>
										<td>User Answer</td>
										<td>Disease</td>
										<td>Action</td>
										</tr>
										{% for rs in data %}
										<tr>
										<td>{{loop.index}}</td>
										<td>{{rs[1]}}</td>
										<td>{{rs[2]}}</td>
										<td>{{rs[5]}}</td>
										<td>
										<a href="/edit_data?qid={{rs[0]}}">Edit</a> /
										<a href="/add_data?act=del&did={{rs[0]}}">Delete</a>
										
										</td>
										</tr>
										{% endfor %}
									</table>
									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>AIaas Model <a href="https://themeforest.net/user/quixlab"></a> </p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../../static/web/plugins/common/common.min.js"></script>
    <script src="../../static/web/js/custom.min.js"></script>
    <script src="../../static/web/js/settings.js"></script>
    <script src="../../static/web/js/gleek.js"></script>
    <script src="../../static/web/js/styleSwitcher.js"></script>

    <script src="../../static/web/plugins/validation/jquery.validate.min.js"></script>
    <script src="../../static/web/plugins/validation/jquery.validate-init.js"></script>

</body>

</html>